#intro {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-image: url(images/instagram.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  background-color: black;
  z-index: 10;
  transition: 0.1s;
}

#top_falower {
  display: flex;
}
#mode_comment {
  padding: 0.5px 1px 0 0;
}
nav {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid gainsboro;
}

nav > div {
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 900px;
}

nav > div > div:nth-of-type(1) {
  width: 35%;
}

nav > div > div:nth-of-type(2) {
  width: 35%;
}

ul.icons {
  display: flex;
  height: 30px;
  margin: 0;
}

ul.icons > li {
  display: flex;
  align-items: center;
  list-style: none;
  float: left;
  margin: 0 5px;
}

.display {
  display: flex;
  flex-direction: row;
}
.display02 {
  padding: 13px 0 12px 11px;
}
.display03 {
  align-items: center;
  padding-left: 15px;
}

.profile-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-box02 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-box03 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-box.fav {
  margin: 20px 0 0 20px;
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 무슨 박스 */
.feed_box {
  border: 1px solid gainsboro;
  background-color: white;
  margin-bottom: 20px;
}

.feed_box2 {
  border-style: none;
  border-top: 1px solid gainsboro;
  outline: none;
  padding: 10px 0 15px 10px;
}

/* 어디어디 백그라운드 설정 */
.background01 {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.open-it {
  margin: 1px 15px;
  font-size: 15px;
  color: gray;
  display: flex;
}

/* feedback: 아이디, 설명등에 효과 */
.feedback-gray {
  font-weight: bold;
  color: gray;
  text-decoration: none;
}

.feedback-black {
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  color: black;
}

.feedback-nocol {
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}
.feedback-atag01 {
  color: black;
  text-decoration: none;
}
.feedback-atag02-lighter {
  color: black;
  text-decoration: none;
  font-weight: lighter;
  font-size: 12px;
}
.feedback-size5 {
  font-size: 5px;
  padding: 4px 0 8px 20px;
}
.feedback-size10 {
  padding-left: 8px;
  font-size: 10px;
  text-align: left;
  font-weight: bold;
}

body :hover {
  color: black;
}
.heart {
  cursor: pointer;
  font-size: 13px;
  padding-right: 7px;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 0 4px 4px 0;
  background-color: rgba(0, 0, 0, 0.801);
  z-index: 1;
  transition: all 0.2s;
}

.popup a {
  color: grey;
  text-decoration: none;
}
#pop1 {
  display: none;
  justify-content: center;
  align-items: center;
}
#pop1 > div:nth-of-type(1) {
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  color: white;
  font-weight: bold;
}
#pop1 > div:nth-of-type(2) {
  display: flex;
  background-color: white;
}
#pop1 > div:nth-of-type(2) > div:nth-of-type(1) {
  width: 540px;
  height: 720px;
}
#pop1 > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) {
  border-bottom: 1px solid gainsboro;
  padding: 12px 5px 12px 15px;
}
.popup02 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 0 4px 4px 0;
  background-color: rgba(0, 0, 0, 0.801);
  z-index: 1;
  transition: all 0.2s;
}
.popup02 a {
  color: grey;
  text-decoration: none;
}
#pop02 {
  display: none;
  justify-content: center;
  align-items: center;
}

#pop02 > div {
  border-radius: 8px 8px 8px 8px;
  display: flex;
  background-color: white;
  width: 490px;
  height: 340px;
  display: flex;
  flex-direction: column;
}
#pop02 > div > div:nth-of-type(1) {
  border-bottom: 1px solid gainsboro;
  font-weight: bold;
}
#pop02 > div > div > span:nth-of-type(1) {
  font-size: 14px;
  padding: 0 190px 0 210px;
}
#pop02 > div > div > span:nth-of-type(2) > a {
  color: black;
  font-size: 25px;
}
#pop02 > div > div:nth-of-type(2) {
  border-bottom: 1px solid gainsboro;
}
#pop02 > div > div:nth-of-type(2) > div {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  padding: 12px 0 15px 10px;
}
#pop02 > div > div:nth-of-type(2) > input {
  border: none;
  outline: none;
  font-size: 12px;
  color: gray;
  font-weight: bold;
  opacity: 0.3;
  padding: 0 0 13px 16px;
}
#pop02 > div > div:nth-of-type(3) > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#pop02 > div > div:nth-of-type(3) > div > div {
  display: flex;
  padding-bottom: 45px;
}

#pop02 > div > div:nth-of-type(3) > div {
  padding: 10px 0 13px 14px;
  font-weight: bold;
  font-size: 13px;
}

#pop02
  > div
  > div:nth-of-type(3)
  > div:nth-of-type(2)
  > div
  > div:nth-of-type(2)
  > div:nth-of-type(1)
  > a:nth-of-type(1) {
  color: black;
  padding-left: 7px;
}

#pop02
  > div
  > div:nth-of-type(3)
  > div:nth-of-type(2)
  > div
  > div:nth-of-type(2)
  > div:nth-of-type(2)
  > a {
  padding-left: 3px;
  font-weight: lighter;
}
#pop02 > div > div:nth-of-type(3) > div:nth-of-type(2) > span {
  padding-right: 15px;
}

#pop02 > div > div:nth-of-type(4) {
  border-top: 2px solid gainsboro;
  padding-top: 14px;
}
#pop02 > div > div:nth-of-type(4) > input {
  width: 462px;
  height: 40px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(178, 223, 252);
  border: none;
  outline: none;
}

#nic {
  display: flex;
  flex-direction: column;
  padding: 0 267px 0 12px;
}
#nic > div > a {
  color: black;
}
#nic > div:nth-of-type(2) {
  font-weight: lighter;
}
#pr-name {
  padding: 23px 0 30px 15px;
}
#pr-name > div:nth-of-type(2) {
  text-align: left;
  padding-left: 12px;
  font-weight: lighter;
}
#pr-name > div:nth-of-type(2) > a:nth-of-type(1) {
  color: black;
  font-weight: bold;
}
#pr-name > div:nth-of-type(2) > a:nth-of-type(2) {
  color: grey;
}

#comment {
  border: 1px gainsboro;
  border-style: none none solid none;
}
.padding {
  padding: 0 0 20px 15px;
}
.padding02 {
  text-align: left;
  padding-left: 12px;
}
.padding03 {
  padding-left: 8px;
}

#comment > div:nth-of-type(1) .feedback-black {
  font-weight: lighter;
}
#comment > div:nth-of-type(1) .feedback-black > a:nth-of-type(1) {
  font-weight: bold;
  color: black;
}
#comment > div:nth-of-type(1) .feedback-black > div > a:nth-of-type(2) {
  font-weight: bold;
}
#comment > div:nth-of-type(2) > div > div:nth-of-type(2) {
  font-weight: lighter;
}
#comment > div:nth-of-type(2) > div > div:nth-of-type(2) > a:nth-of-type(1) {
  font-weight: bold;
  color: black;
}
#comment
  > div:nth-of-type(2)
  > div:nth-of-type(2)
  > div
  > div
  > a:nth-of-type(2) {
  font-weight: bold;
}
#comment > div:nth-of-type(3) > div > div:nth-of-type(2) {
  font-weight: lighter;
}
#comment > div:nth-of-type(3) > div > div:nth-of-type(2) > a {
  color: black;
  font-weight: bold;
}
#comment
  > div:nth-of-type(3)
  > div
  > div:nth-of-type(2)
  > div
  > a:nth-of-type(2) {
  font-weight: bold;
}
#pack > div {
  padding: 12px 0 5px 13px;
}
#pack > div > div > span:nth-of-type(2) {
  padding-right: 4px;
}
#pack > div:nth-of-type(2) {
  text-align: left;
  padding: 0 0 80px 15px;
}
#pack > div:nth-of-type(2) > a {
  color: black;
}
#pack > div:nth-of-type(2) > a:nth-of-type(2) {
  font-size: 8px;
  color: gray;
}

.popup:target {
  opacity: 1;
}
.popup:target + div {
  opacity: 1;
  z-index: 2;
}
.dim {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.2s;
}

#right_chucheon {
  min-width: 335px;
  width: 320px;
  height: 1000px;
  position: sticky;
  margin-top: 30px;
  margin-left: 20px;
}
#right_chucheon > div > div {
  display: flex;
  padding: 5px 0 15px 10px;
}
#right_chucheon > div > div > div:nth-of-type(2) > a:nth-of-type(2) {
  font-weight: lighter;
  color: black;
}
#right_chucheon > div > div:nth-of-type(2) {
  padding: 0 14px 0 9px;
}
#right_chucheon > div > div:nth-of-type(2) > div {
  color: gray;
}
#right_chucheon > div > div:nth-of-type(3) > div > div:nth-of-type(2) > div {
  color: gray;
}
#right_chucheon > div > div:nth-of-type(4) > div > div:nth-of-type(2) > div {
  color: gray;
}
#right_chucheon > div > div:nth-of-type(5) > div > div:nth-of-type(2) > div {
  color: gray;
}
#right_chucheon > div > div:nth-of-type(6) > div > div:nth-of-type(2) > div {
  color: gray;
}
#right_chucheon > div > div:nth-of-type(7) > div > div:nth-of-type(2) > div {
  color: gray;
}
#right_chucheon > div > div:nth-of-type(8) {
  text-align: left;
  font-size: 10px;
  color: gray;
  opacity: 0.5;
  padding: 10px 0 0px 16px;
}

.chucheon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 15px;
}

.chucheon > div:nth-of-type(1) {
  display: flex;
}

.follow {
  text-align: left;
  font-size: 12px;
  padding-left: 15px;
}

.follow2 {
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
.follow3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 10px 0 15px;
}

.follow4 {
  text-align: left;
  font-size: 5px;
  color: grey;
  padding: 0 0 25px 14px;
}

span[class^="material-icons"] {
  margin-right: 10px;
  cursor: pointer;
}

.reply {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reply02 {
  padding: 16px 0 10px 13px;
}

.reply > div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
}

.nav-border {
  position: fixed;
  min-width: 1000px;
  border: 1px solid gainsboro;
  border-style: none none solid none;
}

/* nav 정렬 */
.nav-t {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-width: 918px;
  padding-right: 20px;
}
/* Search 창 */
#Search {
  width: 248px;
  height: 30px;
}
/* nav안 아이템 */
.nav-i {
  align-items: center;
  padding-right: 258px;
}
/* 전체 */
.all {
  text-align: center;
  justify-content: center;
  padding-top: 60px;
  background-color: #fafafa;
}
/* 왼쪽 */
.left {
  width: 550px;
  min-width: 500px;
  height: 1000px;
}
/* 스토리 바 */
.story {
  border: 1px solid gainsboro;
  background-color: white;
  margin: 10px 0 20px 0;
}
